<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Belch Bashers</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="imgs/beer_icon.png">
        <script src="https://use.fontawesome.com/a41d5dbe29.js"></script>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/general.css" rel="stylesheet">
    </head>
    <header>
        <% include templates/header.ejs%>
    </header>
    <body>
        <div class="all-content">
            <div class="page-header">
                <h1>Drink Alone</h1>
            </div>
        </div>
        <footer>
            <% include templates/footer.ejs%>
        </footer>
    </body>
</html>