.all-content {
    height: 1000px;
    text-align: center;
}

h4{
    margin-top: 5px;
}

legend {
    margin-bottom: 20px;
}

legend {
    text-align: center;
}

.radio label {
    display: inline-block;
    text-align: left;
}

.radio {
    display: inline-flex;
    float: left;
}

.radioInput {
    margin-left: 30%;
}

label span{
    color: red;
}