<div class="bottom">
    <div class="content">
        <p>We'd love to hear from you! Contact as at gustavosteve@gmail.com</p>
        <p>Partner: Uber(TM)</p>
        <p>Contact our developers at ###-###-####</p>
        <p>...</p>
    </div>
</div>