<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/"><img src="imgs/beer_stuff/beer_icon_32.png" width="32" height="32" class="d-inline-block align-top" alt="">Belch Bashers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/drink_together">Drink with Friends</a>
            </li>
            <li class="nav-item" hidden>
                <a class="nav-link" href="/drink">Drink Alone</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/find_drinkers_start">Find Drinkers Like You</a>
            </li>
        </ul>
        <div class="pull-right">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/data">View Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add_yourself">Add Yourself</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add_beer">Add Beer to Bar</a>
                </li>
            </ul>
        </div>
        <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>